.team-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    justify-content: center;
}